.para2 {
    width: 800px;
    margin-left: 100px;
    text-align: center;
    padding: 10px;
    border: 4px solid teal;
}

.para3 {
    width: 400px;
    margin-left: 1000px;
    margin-top: -100px;
    text-align: center;
    padding: 3px;
    border: 4px solid teal;
}


    
.header {
    text-align: center;
    color: #ffffff;
    font-size: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0,0, 0.4)), url("hpbackground.jpg");
    height: 150px;
}


}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.rounds {
    width: 330px;
    height: 300px;
}

.gal {
    width: 500px;
    height: 300px;
}

.gal2 {
    width: 400x;
    height: 300px;
}

.lab{
    width: 250px;
    height:250px;
}

